* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure that padding and borders are included in the element's width and height */
}

body {
    background-color: aliceblue;
}

.board {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 100px auto;
    box-shadow: 10px 10px rgba(0, 170, 255, 0.034);
}

.cell {
    border: 1px solid whitesmoke;
}
#slider {
    width: 200px; /* Adjust width if needed */
}

#reset-button {
    margin-left: 10px; /* Adjust spacing between slider and button */
}
